#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR         "Wacom Serial Pen Tablet HID Driver"
#define VER_INTERNALNAME_STR            "wacomdigi.sys"
#define VER_ORIGINALFILENAME_STR        "wacomdigi.sys"

#include <Common.ver>
#include "errcodes.rc"

