#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR         "Elo Serial Multi-Touch HID Driver"
#define VER_INTERNALNAME_STR            "EloTouch.sys"
#define VER_ORIGINALFILENAME_STR        "EloTouch.sys"

#include <Common.ver>
#include "errcodes.rc"

