<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- What option to assume if run without parameters-->
    <!-- Can be Help, GUI, Master or Server-->
    <add key="DefaultBehavior" value="Help"/>
    <!-- The folder where to store the log-->
    <add key="LogPath" value="c:\logs"/>
    <!-- Installation path for the Microsoft Debuggers Package-->
    <add key="DebuggersPath32" value="c:\debuggers32"/>
    <!-- On 32 bit machines this will be ignored but cannot be omited-->
    <add key="DebuggersPath64" value="c:\debuggers64"/>
    <!-- The parameters below define the protocol and port that this instance will be listening to-->
    <add key="ThisProtocol" value="TCP"/>
    <add key="ThisPort" value="5555"/>
    <!-- The parameters below are ignored if this machine is the one running as a Master-->
    <add key="MasterMachine" value="SomeMachine"/>
    <add key="MasterProtocol" value="TCP"/>
    <add key="MasterPort" value="5555"/>
    <!-- Shutdown mode for host (Master or Server) roles-->
    <!-- Can be Interactive or ServiceCall-->
    <add key="ShutdownMode" value="Interactive"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
